header {
  width: 900px;
  height: 50px;
  background-color: #0000ff;
  margin: auto;
}

nav {
  width: 900px;
  height: 50px;
  margin: auto;
  background-color: #7d388f;
}

#bigimage {
  width: 100%;
  height: 300px;
}

main {
  width: 900px;
  background-color: rgb(0, 0, 0);
  margin: auto;
}
article {
  height: 600px;
  float: left;
  padding: 10px;
  background-color: #339696;
}

.big {
  width: 580px;
  margin: 20px 20px 20px 0px;
}

.small {
  width: 300px;
  margin: 20px 0px;
}

footer {
  width: 100%;
  height: 100px;
  padding-bottom: 40px;
  background-color: #000000;
  clear: both;
}

<article class="small">
Article
</article>
body <div>

.element {
  background-image: url('https://us.123rf.com/450wm/llepod/llepod1608/llepod160800052/61084056-seamless-texture-highway-asphalt-road-with-yellow-stripes-2d-illustration.jpg'); /* Set background image */
}